.Popup {
  width: 360px;
  max-height: 500px;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  background: inherit;
}

::-webkit-scrollbar-track {
  background: var(--bs-gray-800);
  border-radius: 100rem;
}

::-webkit-scrollbar-thumb {
  background: var(--bs-gray-700);
  border-radius: 100rem;

  &:hover {
    background: var(--bs-gray-600);
  }
}
