.Popup {
  width: 360px;
  max-height: 500px;

  .btn {
    &:not(.background-transition) {
      transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    }
  }

  .script-group-name {
    cursor: pointer;
    opacity: 0.8;
    transition: color 0.15s;
  }

  .script-group-caret {
    font-size: 0.8em;
    transition: transform 0.15s;

    &.upside-down {
      transform: rotate(180deg);
    }
  }
}
