.Popup {
  width: 360px;
  max-height: 500px;

  .script-group-name {
    cursor: pointer;
    opacity: 0.8;
    transition: color 0.15s;
  }

  .script-group-caret {
    font-size: 0.8em;
    transition: transform 0.15s;

    &.upside-down {
      transform: rotate(180deg);
    }
  }
}
