@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes grow {
  0% {
    opacity: 0.5;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: none;
  }
}

.Script {
  transition: border 0.15s;

  &:hover {
    .script-title {
      color: var(--bs-primary);
    }
  }

  .script-title {
    transition: color 0.15s;
  }

  .script-details {
    display: none;
  }

  &:not(.selected) {
    cursor: pointer;
  }

  &.selected {
    border-color: var(--bs-primary);

    .script-title {
      color: var(--bs-primary);
    }
  }

  &:first-child:last-child,
  &.selected {
    .script-details {
      display: block;
    }
  }

  .spin {
    animation: spin 1s linear infinite;
  }

  .grow {
    animation: grow 1s;
  }
}
