.Script {
  transition: border 0.15s, margin 0.15s;

  &:hover {
    .script-title {
      color: var(--bs-primary);
    }
  }

  .script-title {
    transition: color 0.15s;
  }

  .script-details {
    display: none;
  }

  &:not(.selected) {
    cursor: pointer;
  }

  &.selected {
    border-color: var(--bs-primary);

    .script-title {
      color: var(--bs-primary);
    }
  }

  &:first-child:last-child,
  &.selected {
    .script-details {
      display: block;
    }
  }
}
