# NPM shit
node_modules/
package-lock.json

# Built shit
extension/dist/
extension/scripts/
extension/src/scripts.ts
extension/manifest.json
extension/**/*.js
extension/**/*.png
extension/**/*.ico

# Zipped shit
extension.zip

# Won't publish local stuff
scripts/local/
