.app {
  width: 360px;
  max-height: 500px;
}

.script {
  cursor: pointer;
  transition: border 0.15s;
}

.script .script-title {
  transition: color 0.15s;
}

.script .script-details {
  display: none;
}

.script:hover {
  border-color: var(--bs-primary);
}

.script:hover .script-title {
  color: var(--bs-primary);
}

.script:first-child:last-child .script-details,
.script:hover .script-details {
  display: block;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  background: inherit;
}

::-webkit-scrollbar-track {
  background: var(--bs-gray-800);
  border-radius: 100rem;
}

::-webkit-scrollbar-thumb {
  background: var(--bs-gray-700);
  border-radius: 100rem;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bs-gray-600);
}
